/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.ql-container {
  position: absolute;
  top: 50px;
  left: 250px;
  .ql-editor {
    height: auto;
    line-height: inherit;
    padding: 0;
    width: 350px;
    font-size: 32px;
    line-height: 1.25;
    font-family: 'Lato';
    overflow: hidden;
    color: rgba(255,0.0,0.5);
    background: rgba(0,0,255,0.25);
  }
}

